# Binaries
files_tree.md
bin/
*.exe
*.out

# Dependency directories
vendor/
node_modules/
internal/web.backup/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Environment files
.env
*.env.local

# Vite构建输出
dist
build
.DS_Store
*.log

# Test output
coverage.out
configs/auth.yaml
configs/db.yaml
configs/server.yaml
.yop
cmd/server/web/
